
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
	--primary-color: #0E7ABE;
	--secondary-color: #008D36;
	--white-color: #FFFFFF;

	--linear-color: linear-gradient(90deg, #008D36 0%, #0E7ABE 100%);
	--linear-color-2: rgba(14, 122, 190, 0.62);
	--linear-bg: linear-gradient(40deg, #01B044 0%, #0E7ABE 100%);

	--secondary-text-color: #01B044;
	--border-radius: 20px;

}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Rubik', sans-serif !important;
}

button {
	border: none !important;
	color: var(--white-color);
}


body {
	font-family: 'Rubik', sans-serif !important;
	color: #444444;
	text-align: justify;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Rubik", sans-serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
.underline_blue {
    width: 150px; 
    border-bottom: 4px solid #0E7ABE; 
    margin: 0 auto; 
    margin-top: 10px;
	border-radius: 10px;
}

.underline_green {
    width: 150px; 
    border-bottom: 4px solid #01B044; 
    margin: 0 auto; 
    margin-top: 10px;
	border-radius: 10px;
}

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	overflow: hidden;
	background: #fff;
}

#preloader:before {
	content: "";
	position: fixed;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	border: 6px solid #106eea;
	border-top-color: #e2eefd;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 996;
	background: #0E7ABE;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	transition: all 0.4s;
}

.back-to-top i {
	font-size: 28px;
	color: #fff;
	line-height: 0;
}

.back-to-top:hover {
	background: #01B044;

	color: #fff;
}

.back-to-top.active {
	visibility: visible;
	opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
	[data-aos-delay] {
		transition-delay: 0 !important;
	}
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
	background: #fff;
	height: 80px;
	font-size: 14px;
	transition: all 0.5s;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}

#topbar .contact-info i {
	font-style: normal;
}

#topbar .contact-info i a,
#topbar .contact-info i span {
	padding-left: 5px;
}

#topbar .contact-info i a {
	line-height: 0;
	transition: 0.3s;
	transition: 0.3s;
	color: #000;
}

#topbar .contact-info i a:hover {
	text-decoration: underline;
}

#topbar .social-links a {
	line-height: 0;
	transition: 0.3s;
	margin-left: 20px;
}

#topbar .bi-telephone {
	color: #008D36;
}

#topbar .a1 {
	margin-right: 6px;
	font-size: 1rem;
}

#topbar .a2 {
	width: 10px;
	height: 10px;
	margin-right: 15px;
}

#topbar button,
#topbar button a {
	border: none !important;
	color: #fff;
	padding: 2px 4px;
}

/* #topbar .button1 {
	font-size: 1rem;
	background: #0E7ABE;
	padding: 4px 6px;
	border-radius: 5px 0px 0px 5px !important;
} */

#topbar .button2 {
	font-size: 1rem;
	background: #008D36;
	border-radius: 10px;
	padding: 4px 12px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
	background: #0E7ABE;
	transition: all 0.5s;
	z-index: 997;
	height: 86px;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header.fixed-top {
	height: 70px;
}

#header .logo {
	font-size: 30px;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-weight: 600;
	letter-spacing: 0.8px;
}


#header .logo img {
	max-height: 70px;
}

#header>li>a {
	color: white !important;
}

.scrolled-offset {
	margin-top: 70px;
}

.btn-close {
	color: #0E7ABE !important;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
	padding: 0;
}

.navbar ul {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	align-items: center;
}

.navbar li {
	position: relative;
}

.navbar>ul>li {
	white-space: nowrap;
	padding: 10px 0 10px 28px;
}

.navbar a,
.navbar a:focus {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 3px;
	font-size: 15px;
	font-weight: 600;
	color: #222222;
	white-space: nowrap;
	transition: 0.3s;
	position: relative;
}

.navbar a i,
.navbar a:focus i {
	font-size: 12px;
	line-height: 0;
	margin-left: 5px;
}

.navbar>ul>li>a:before {
	content: "";
	position: absolute;
	width: 50%;
	height: 5px;
	bottom: -6px;
	right: 0;
	background-color: #01B044;
	visibility: hidden;
	width: 0px;
	transition: all 0.5s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
	visibility: visible;
	width: 100%;
}

.navbar li a,
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
	color: #01B044;
}

.navbar .dropdown ul {
	display: block;
	position: absolute;
	left: 28px;
	top: calc(100% + 30px);
	margin: 0;
	padding: 10px 0;
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	transition: 0.3s;
}

.navbar .dropdown ul li {
	min-width: 200px;
}

.nav-link,
.nav-link span {
	color: #fff !important;
}

.navbar .dropdown ul a {
	color: #000;
	padding: 10px 20px;
	font-weight: 400;
}

.navbar .dropdown ul a i {
	font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
	color: #01B044 !important;
}

.navbar .dropdown:hover>ul {
	opacity: 1;
	top: 100%;
	visibility: visible;
}

.navbar .dropdown .dropdown ul {
	top: 0;
	left: calc(100% - 30px);
	visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
	opacity: 1;
	top: 0;
	left: 100%;
	visibility: visible;
}

@media (max-width: 1366px) {
	.navbar .dropdown .dropdown ul {
		left: -90%;
	}

	.navbar .dropdown .dropdown:hover>ul {
		left: -100%;
	}
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
	color: #fff;
	font-size: 28px;
	cursor: pointer;
	display: none;
	line-height: 0;
	transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
	color: #000;
	background-color: #fff;
}

.mobil {
	display: none;
}

@media (max-width: 991px) {
	.mobile-nav-toggle {
		display: block;
	}

	.navbar ul {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	#topbar {
		height: auto !important;
	}

	.deskt {
		display: none !important;
	}

	.mobil {
		display: block !important;
	}

	.mobil .a1 {
		margin-right: 2px;
		font-size: 0.7rem !important;

	}

	.mobil svg {
		width: 12px !important;
		height: 12px !important;
	}

	#topbar .button1 {
		font-size: 0.6rem !important;
		padding: 2px 3px !important;
	}

	.aboutSection2 .title1,
	.aboutSection2 .title2 {
		font-size: 1.7rem !important;
	}


	.aboutSection2 .aboutImage {
		width: 30px !important;
		height: 30px !important;
	}

	.aboutSection2 .images1 .image1 {
		width: 250px;
		height: 250px;
	}

	.aboutSection2 p {
		padding: 0px !important;
	}

	.aboutSection2 .images1 .image2 {
		width: 150px;
		height: 150px;
		z-index: 400;
		margin-top: -95px;
		margin-left: 55% !important;
		position: relative;
	}

	.image-wrapper::before {
		left: 1px !important;
		top: -5px !important;
	}

	.image-wrapper::after {
		left: 1px !important;
		top: 5px !important;
		border: 1px solid transparent;

	}

	.workSection2 .row:nth-child(2),
	.actuSection2 .row:nth-child(2) {
		flex-direction: column-reverse !important;
	}

	.aboutSection1 h2,
	.realisationSection1 h2 {
		font-size: 1.5rem !important;
	}

	.realisationSection2 .mobil {
		justify-content: space-between !important;
		gap: 15 !important;
	}

	.realisationSection2 .mobil button {
		width: auto !important;
		height: auto !important;
		padding: 6px 20px !important;
		border-radius: 0px 20px 20px 20px;
	}

	.contact .modal-title {
		font-size: 1.1rem !important;
	}

	.footer .social-icon__link svg {
		height: 10px !important;
		width: 10px !important;
		color: white !important;
	}
	#footer .social-icon svg,
	#footer .menu .mn1 svg,
	#footer .menu .mn2 svg {
		height: 20px !important;
		width: 20px !important;
	}

	#footer .menu .mn3 img {
		height: 25px !important;
		width: 25px !important;
	}

	#footer .menu .mn2 p {
		margin-left: 20px !important;
	}

	#footer .menu .mn3 a {
		margin-left: -5px !important;
	}
}

.navbar-mobile {
	position: fixed;
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(9, 9, 9, 0.9);
	transition: 0.3s;
	z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
	position: absolute;
	top: 15px;
	right: 15px;
}

.navbar-mobile ul {
	display: block;
	position: absolute;
	top: 55px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	padding: 10px 0;
	background-color: #fff;
	overflow-y: auto;
	transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
	padding: 10px 20px;
	font-size: 15px;
	color: #000 !important;
}

.navbar-mobile>ul>li {
	padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
	visibility: hidden;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
	color: #008D36 !important;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
	margin: 15px;
}

.navbar-mobile .dropdown ul {
	position: static;
	display: none;
	margin: 10px 20px;
	padding: 10px 0;
	z-index: 99;
	opacity: 1;
	visibility: visible;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
	min-width: 200px;
}

.navbar-mobile .dropdown .nav-link span {
	color: #000 !important;
}

.navbar-mobile .dropdown ul a {
	padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
	font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
	color: #008D36 !important;
}

.navbar-mobile .dropdown>.dropdown-active {
	display: block;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
	padding: 60px 0;
	overflow: hidden;
	transition: all ease-in-out 0.3s;

}

section h2 {
	font-size: 2.5rem !important;
}

section .row svg {
	width: 151px;
	height: 11px;
}

/*--------------------------------------------------------------
# Home Page
--------------------------------------------------------------*/
/* homeSection 1 */

.homeSection1 {
	padding: 0% !important;
	height: 90vh !important;
}

.homeSection1 .slide button {
	background: none !important;
}

.homeSection1 img {
	height: 90vh !important;
	position: relative !important;
	border-radius: 0% !important;
}

/* homeSection 2 */
.homeSection2 {
	background: var(--linear-color);
	color: var(--white-color);
}

.homeSection2 h5 {
	font-size: 1.5rem;
}

/* homeSection 3 */
.homeSection3 h2 {
	color: var(--secondary-text-color);
}

.homeSection3 svg,
.homeSection4 svg,
.homeSection5 svg {
	margin-top: -15px !important;
	margin-left: 53% !important;
}

.homeSection3 .card {
	border: none !important;
	align-items: center !important;
}

.homeSection4 h2 {
	color: var(--primary-color);

}

.homeSection4 .container:nth-child(2) {
	height: 800px;
	place-items: center;
	text-align: justify !important;
}

.slider {
	width: 100%;
	max-width: 100%;
	height: 800px;
	position: relative;
	overflow-x: hidden;
	overflow-y: visible;
}

.slide {
	width: 100%;
	max-width: 100%;
	height: 800px;
	position: absolute;
	transition: all 0.5s;
}

.slide img {
	border-radius: 15px;
	width: 100%;
	height: 70%;
	overflow: hidden;
	object-fit: cover;
}

.slide button {
	border-radius: 0px 10px 10px 10px;
	background: linear-gradient(40deg, #01B044 0%, #0E7ABE 100%);
}

.btn {
	position: absolute;
	width: 40px;
	height: 40px;
	padding: 10px;
	border: none;
	z-index: 10px;
	cursor: pointer;
	background: #0E7ABE;
	color: white;
	font-size: 18px;
}
.btn:hover{
	color: white !important;
}

.btn:active {
	background: #75bbe7 !important;
	transform: scale(1.1);
}

.btn-prev {
	border-radius: 20px 0px 0px 20px;
	top: 35%;
	left: 2%;
}

.btn-next {
	border-radius: 0px 20px 20px 0px;
	top: 35%;
	right: 2%;
}


/* homeSection 5 */

.homeSection5 h2 {
	color: var(--secondary-text-color);
}

.homeSection5 .col-lg-4,
.homeSection5 .card,
.homeSection5 .col-lg-4 {
	transition: all 0.3s ease-in-out;
}

.homeSection5 .row:nth-child(2) img {
	border-radius: inherit;
}

.homeSection4 button,
.homeSection5 button,
.benevolatSection2 button,
.realisationSection2 .row:nth-child(2) button  {
	border-radius: 0px 10px 10px 10px;
	background: var(--linear, var(--linear-bg));
	padding: 10px 24px !important;
}

.homeSection4 button a,
.homeSection5 button a,
.benevolatSection2 button a,
.realisationSection2 .row:nth-child(2) button a {
	color: var(--white-color);
	font-size: 16px;
	font-weight: 300;
}

/* End homeSection 6 */
.homeSection6 h2 {
	color: var(--primary-color);
}

.homeSection6 h4 img {
	border: 1px solid black !important;
	border-radius: 50% !important;
}

.homeSection6 .title1 {
	color: var(--dark, #1E293B);
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 162.5%;
	letter-spacing: -0.8px;
	margin-left: 40px;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
	align-items: center !important;
	justify-content: center !important;
	text-align: center;
	border: 0px solid #e2eefd;
	padding: 80px 20px;
	transition: all ease-in-out 0.3s;
	background: #fff;
}

.services .icon-box .icon {
	width: 160px;
	height: 160px;
	margin-left: 25%;
	border-radius: 50%;
	border: 2px solid var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	transition: ease-in-out 0.3s;
}

.services .icon-box .icon img {
	transition: ease-in-out 0.3s;
	/* box-shadow: 0px 0 25px 0 rgba(16, 110, 234, 0.1) !important; */

}

.services .icon-box h4 {
	font-weight: 700;
	margin-bottom: 15px;
	font-size: 24px;
}

.services .icon-box h4 {
	transition: ease-in-out 0.3s;
}

.services .icon-box p {
	line-height: 24px;
	font-size: 14px;
	margin-bottom: 0;
}

.services .icon-box:hover {
	border-color: #fff;
	box-shadow: 0px 0 25px 0 rgba(16, 110, 234, 0.1);
}

.services .icon-box:hover h4,
.services .icon-box:hover p {
	color: #0E7ABe;
}

.services .icon-box:hover .icon img {
	transition: ease-in-out 0.3s;
}

/*--------------------------------------------------------------
# Featured Services
--------------------------------------------------------------*/
.featured-services .icon-box {
	padding: 30px;
	position: relative;
	overflow: hidden;
	background: #fff;
	box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
	transition: all 0.3s ease-in-out;
	border-radius: 8px;
	z-index: 1;
}

.featured-services h2 svg {
	width: 40px !important;
	height: 40px !important;
}

.featured-services .icon-box .icon svg {
	width: 24px !important;
	height: 24px !important;
}

.featured-services .icon-box h4 img {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	margin-right: 10px;
}

.featured-services .icon-box::before {
	content: "";
	position: absolute;
	background: #cbe0fb;
	right: 0;
	left: 0;
	bottom: 0;
	top: 100%;
	transition: all 0.3s;
	z-index: -1;
}

.featured-services .icon-box:hover::before {
	background: #0E7ABE;
	top: 0;
	border-radius: 0px;
}

.featured-services .icon {
	margin-bottom: 15px;
}

.featured-services .icon i {
	font-size: 48px;
	line-height: 1;
	color: #0E7ABE;
	transition: all 0.3s ease-in-out;
}

.featured-services .title {
	font-weight: 700;
	margin-bottom: 15px;
	font-size: 18px;
}

.featured-services .title a {
	color: #111;
}

.featured-services .description {
	font-size: 15px;
	line-height: 28px;
	margin-bottom: 0;
}

.featured-services .icon-box:hover .title a,
.featured-services .icon-box:hover .description {
	color: #fff;
}

.featured-services .icon-box:hover .icon i {
	color: #fff;
}

/* **********END HOME PAGE********* */
/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
	padding: 20px 0;
	background-color: #f1f6fe;
	min-height: 40px;
}

.breadcrumbs h2 {
	font-size: 24px;
	font-weight: 300;
	margin: 0;
}

@media (max-width: 992px) {
	.breadcrumbs h2 {
		margin: 0 0 10px 0;
	}
}

.breadcrumbs ol {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 14px;
}

.breadcrumbs ol li+li {
	padding-left: 10px;
}

.breadcrumbs ol li+li::before {
	display: inline-block;
	padding-right: 10px;
	color: #6c757d;
	content: "/";
}

@media (max-width: 768px) {
	.breadcrumbs .d-flex {
		display: block !important;
	}

	.breadcrumbs ol {
		display: block;
	}

	.breadcrumbs ol li {
		display: inline-block;
	}
}

/*--------------------------------------------------------------
# About Page
--------------------------------------------------------------*/

/* **********ABOUT  PAGE********* */
.aboutSection1 {
	padding: 0% !important;
	height: 35vh;
	background: url("../img/accueil1.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.aboutSection1 .back {
	background-color: rgba(68, 70, 71, 0.62);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	width: 100%;
	height: 100%;
}

.aboutSection1 h2 {
	color: var(--white-color);
	font-weight: 700;
	position: relative;
	margin-top: 20vh;
}

.aboutSection2 img {
	border-radius: 50px;
	background: rgba(25, 34, 245, 0.14);
}

.aboutSection2 h3 {
	font-size: 2.5rem !important;
	font-weight: 500;
}

.aboutSection2 .title1 {
	color: var(--primary-color);
}

.aboutSection2 .title2 {
	color: var(--secondary-text-color);
}

.aboutSection2 p {
	padding-right: 100px;
}

.aboutSection2 .images1 .image1 {
	position: relative;
	z-index: 100;
}

.aboutSection2 .images1 .image2 {
	z-index: 400;
	margin-top: -95px;
	margin-left: 75%;
	position: relative;

}

.aboutSection2 .carte {
	border: 1px solid #E6E9EF;
	background: #FBFCFD;
	box-shadow: 1px 0px 0px 0px #E6E9EF;
}

.aboutSection2 .carte h2 {
	color: var(--primary-color);
	font-style: normal;
	font-weight: 700;
	line-height: 70px;
}

.aboutSection2 .carte h3 {
	color: var(--secondary-text-color);
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 28px;
	letter-spacing: 0.8px;
}

.aboutSection2 .carte:first-child {
	border-top-left-radius: var(--border-radius);
	border-bottom-left-radius: var(--border-radius);
}

.aboutSection2 .carte:last-child {
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}

.aboutSection3 h2 {
	color: var(--secondary-text-color);
	font-weight: 500;
}

.aboutSection3 svg {
	width: 20px !important;
	height: 20px !important;
}

.aboutSection3 .card {
	border: 1px solid ghostwhite;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.aboutSection3.card:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.aboutSection3 .row img {
	width: 146px;
	height: 146px;
	border-radius: 50%;
}

.counts {
	padding: 70px 0 60px;
}

.counts .count-box {
	padding: 30px;
	width: 100%;
	position: relative;
	text-align: center;
	background: #f1f6fe;
}

.counts .count-box span {
	font-size: 36px;
	display: block;
	font-weight: 600;
	color: #0E7ABE;
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: "Poppins", sans-serif !important;
	font-size: 64px;
	font-style: normal;
	font-weight: 700;
	line-height: 70px;
	/* 109.375% */
}

.counts .count-box p {
	padding: 0;
	margin: 0;
	font-size: 14px;
	color: #01B044;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 28px;
	letter-spacing: 0.8px;
}

/*--------------------------------------------------------------
# REALISATION  PAGE
--------------------------------------------------------------*/

.realisationSection1 {
	padding: 0% !important;
	height: 45vh;
	background: url("../img/accueil1.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.realisationSection1 .back {
	background-color: rgba(97, 99, 100, 0.62);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	width: 100%;
	height: 100%;
}

.realisationSection1 h2 {
	color: var(--white-color);
	font-weight: 700;
	position: relative;
	margin-top: 30vh;
}

.realisationSection2 .card {
	border: none;
}

.realisationSection2 img {
	width: 263px;
	height: 348px;
	border-radius: 10px;
}

.realisationSection2 button {
	flex-shrink: 0;
	float: right;
	color: var(--white-color);
}


/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq {
	padding: 60px 0;
}

.faq .faq-list {
	padding: 0;
	list-style: none;
}

.faq .faq-list li {
	border-bottom: 1px solid #d4e5fc;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.faq .faq-list .question {
	display: block;
	position: relative;
	font-family: #106eea;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	padding-left: 25px;
	cursor: pointer;
	color: #0d58ba;
	transition: 0.3s;
}

.faq .faq-list i {
	font-size: 16px;
	position: absolute;
	left: 0;
	top: -2px;
}

.faq .faq-list p {
	margin-bottom: 0;
	padding: 10px 0 0 25px;
}

.faq .faq-list .icon-show {
	display: none;
}

.faq .faq-list .collapsed {
	color: black;
}

.faq .faq-list .collapsed:hover {
	color: #106eea;
}

.faq .faq-list .collapsed .icon-show {
	display: inline-block;
	transition: 0.6s;
}

.faq .faq-list .collapsed .icon-close {
	display: none;
	transition: 0.6s;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
	bottom: 0px;
	height: auto;
	overflow-x: hidden !important;
}

footer div {
	background-color: #0E7ABE;
	padding: 0px;
	color: #fff;
	overflow-x: hidden !important;
}

.footer h6 {
	color: #F5F5F5;
	font-size: 1.2rem;
	font-weight: 500;
}

.footer .container p {
	font-size: 1rem !important;
	font-weight: 500;
}

footer svg {
	width: 100%;
	overflow: visible;
}

.wave {
	animation: wave 3s linear;
	animation-iteration-count: infinite;
	fill: #0E7ABE;
}

.drop {
	fill: #0E7ABE;
	animation: drop 8.2s linear infinite normal;
	stroke: #0E7ABE;
	stroke-width: 0.5;
	transform: translateY(25px);
	transform-box: fill-box;
	transform-origin: 50% 100%;
}

.drop1 {}

.drop2 {
	animation-delay: 8s;
	animation-duration: 8s;
}

.drop3 {
	animation-delay: -7s;
	animation-duration: 8.4s;
}

.drop4 {
	animation-delay: 6.7s;
}

.drop5 {
	animation-delay: 7.7s;
	animation-duration: 8.1s;
}

.drop6 {
	animation-delay: -7.1s;
	animation-duration: 8.2s;
}

.gooeff {
	filter: url(#goo);
}

#wave2 {
	animation-duration: 10s;
	animation-direction: reverse;
	opacity: .6
}

#wave3 {
	animation-duration: 12s;
	opacity: .3;
}

@keyframes drop {
	0% {
		transform: translateY(25px);
	}

	30% {
		transform: translateY(-10px) scale(.1);
	}

	30.001% {
		transform: translateY(25px) scale(1);
	}

	70% {
		transform: translateY(25px);
	}

	100% {
		transform: translateY(-10px) scale(.1);
	}
}

@keyframes wave {
	to {
		transform: translateX(-100%);
	}
}


#footer .social-icon,
#footer .menu {
	position: relative;
	padding-left: 0rem !important;
}

#footer .menu__item,
#footer .social-icon__item {
	list-style: none;
}

#footer .menu svg {
	width: 10px;
	height: 10px;
}

#footer .menu__link {
	font-size: 1rem;
	color: #fff;
	margin: 0 10px;
	display: inline-block;
	transition: 0.5s;
	text-decoration: none;
	opacity: 0.75;
	font-weight: 300;
}

#footer .menu__link:hover {
	opacity: 1;
}

#footer .social-icon {
	padding-left: 0 !important;
}

#footer .social-icon svg,
#footer .svg {
	width: 30px !important;
	height: 30px !important;
}

#footer .social-icon__link {
	display: inline-block;
	transition: 0.5s;
}


#footer .footer-newsletter {
	font-size: 15px;
}

#footer .footer-newsletter h4 {
	color: #F5F5F5;
	font-size: 20px;
	font-weight: 500;
	line-height: 32px;
}

#footer .footer-newsletter form {
	margin-top: 30px;
	background: #0E7ABE;
	padding: 6px 10px;
	position: relative;
	text-align: left;
	border-radius: 12px;
	border: 1px solid #01B044;
}

#footer .footer-newsletter form input[type=email] {
	border: 0;
	padding: 4px 8px;
	width: calc(100% - 100px);
	background: #0E7ABE;
	border: none !important;
}

#footer .footer-newsletter form input[type=email]::placeholder {
	color: #fff;
}

#footer .footer-newsletter form input[type=email]:focus,
#footer .footer-newsletter form input[type=email]:hover {
	border: none !important;
}

#footer .footer-newsletter form input[type=submit] {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	border: 0;
	font-size: 16px;
	padding: 0 10px;
	background: #fff;
	color: #0E7ABE;
	transition: 0.3s;
	border-radius: 0 4px 4px 0;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
	background: #fff;
}

#footer .footer-end {
	color: var(--secondary-text-color);
}

/*--------------------------------------------------------------
# MOdal Contact
--------------------------------------------------------------*/
.contact svg {
	width: 20px !important;
	height: 20px !important;
}

.contact li {
	list-style: none;
}

.contact .modal-title {
	color: #01B044;
	font-family: 'Rubik', sans-serif;
	font-size: 2rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.contact-icon__item {
	font-size: 16px;
	font-weight: 400;
	list-style: none;
}

.contact-icon__link:hover {
	display: inline-block;
	transition: 0.5s;
}

.contact .horaire {
	color: #000;
	font-family: 'Rubik';
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.contact p.py-2 {
	color: #000;
	font-weight: 500;
}

.contact h4 {
	font-weight: 500;
	line-height: 32px;
}

.contact .col-lg-6 p {
	font-weight: 400;
	line-height: 28px;
}

/*  */

.contact form {
	width: 100%;
	margin-top: 30px;
	background: #fff;
	text-align: left;
	border-radius: 12px;
	padding: 0 0 0 10px;
	border: 1px solid #01B044;
	border-right: #fff !important;
}

.contact form input[type=email] {
	border: 1px solid #01B044 !important;
	padding: 6px 10px;
	width: 75% !important;
	background: #fff;
	border: none !important;
}

.contact form input[type=email]::placeholder {
	color: #6b6969 !important;
	font-size: 14px;
}

.contact form input[type=email]:focus,
.contact form input[type=email]:hover {
	border-color: transparent !important;
	z-index: 2;
	background-color: white;
}

.contact form input[type=submit] {
	width: 25%;
	bottom: 0;
	border: 0;
	font-size: 12px;
	padding: 7px 2px;
	background: #0E7ABE;
	color: #fff;
	transition: 0.3s;
	border-radius: 4px;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.contact form input[type=submit]:hover {
	background: #008D36;
}

.faqSection2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
}

.accordian {
	padding: 0.6rem;
	border-radius: 12px;
	transition: all 0.3s ease-in-out !important;
}

.accordian:first-child {
	background: #e4f3fd;
	border-left: 4px solid var(--primary-color);
}

.accordian:nth-child(2) {
	background: #f1f0fe;
	border-left: 4px solid #9090eb;
}

.accordian:nth-child(3) {
	background: #dbefe3;
	border-left: 4px solid var(--secondary-color);
}

.accordian:nth-child(4) {
	background: #f8f2f2;
	border-left: 4px solid #6b6969;
}

.accordian_head {
	background-color: transparent;
	padding: 0.5rem;
	display: flex;
	align-items: center;
	gap: 0.7rem;
	cursor: pointer;
}

.accordian_toggler {
	align-self: flex-start;
	background-color: transparent;
	font-size: 1.8rem;
	transition: all 0.5s ease;
}

.accordian_toggler.active {
	rotate: 133deg;
}

.accordian_title {
	background-color: transparent;
	font-size: 1rem;
	font-weight: 500;
}

.accordian_body {
	background: transparent;
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 0.5s ease;
}

.active_body {
	grid-template-rows: 1fr;
}

.accordian_description {
	background-color: transparent;
	margin-top: 0.7rem;
	padding-left: 2.3rem;
	font-size: 0.9rem;
	overflow: hidden;
	line-height: 1.2rem;
}

.image-wrapper {
	position: relative;
	border-radius: 5px;
}

.image-wrapper img {
	border-radius: inherit;
}

.image-wrapper::before {
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	background-color: #F9F9F9;
	left: -15px;
	top: -15px;
	z-index: -1;
	border-radius: inherit;
}

.image-wrapper::after {
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	/* border: 1px solid #01B044; */
	left: 15px;
	top: 15px;
	border-radius: inherit;
}

.workSection2 button {
	border-radius: 0px 20px 20px 20px;
	background: var(--linear, linear-gradient(40deg, #01B044 0%, #0E7ABE 100%));
}

.contentAdhesion {
	display: none;
	margin-top: 10px;
}

.toggle-button {
	background-color: #3498db;
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
}

.detailsSection1 button,
.rejoindreSection1 button {
	background: var(--linear, var(--linear-bg));
	color: white;
	border: none;
	z-index: 1 !important;
	padding: 5px 10px;
	cursor: pointer;
	border-radius: var(--border-radius);
}

.rejoindreSection1 button:hover {
	z-index: 0 !important;
}

.travelSection2 button {
	border-radius: 0px 10px 10px 10px;
	background: var(--linear, linear-gradient(40deg, #01B044 0%, #0E7ABE 100%));
}

.realisationSection2 button,
.stageSection2 button,
.demploi button,
.ass3ageSection2 button,
.faqSection2 button,
.aboutSection3 button,
.dactuSection2 button,
.dbenevolatSection1 button,
.benevolatSection button,
.modal .benevolats form button {
	border-radius: 0px 20px 20px 20px !important;
	border-color: none;
	background: var(--linear, linear-gradient(40deg, #01B044 0%, #0E7ABE 100%));
}
.realisationSection2 button a,
.stageSection2 button a,
.demploi button a,
.dactuSection2 button a,
.benevolatSection button a {
	color: white;
}

/* .realisationSection2 button:hover, */
.travelSection2 button:hover,
.stageSection2 button:hover,
.demploi button:hover,
.ass3ageSection2 button:hover,
.faqSection2 button:hover,
.aboutSection3 button:hover,
.dactuSection2 button:hover,
.dbenevolatSection1 button:hover,
.benevolatSection button:hover {
	color: #000 !important;
	background: white;
	border: 2px solid #0E7ABE !important;
}

.travelSection2 button:hover a,
.stageSection2 button:hover a,
.demploi button:hover a,
.dactuSection2 button:hover a,
.benevolatSection button:hover a {
	color: #000 !important;
}

.rejoindreSection1 .form-check-input {
	border-color: #0E7ABE !important;
}

.rejoindreSection1 .form-check-input:checked {
	background-color: #0E7ABE !important;
	border-color: #0E7ABE !important;
}

.dactuSection1 h5 {
	color: var(--primary-color);
}

.dactuSection1 i,
.dbenevolatSection1 i {
	color: var(--primary-color) !important;
	font-size: 1.5rem;
}

.modal .benevolats form button {
	width: 90%;
	opacity: 1;
}

.modal .benevolats form button:hover {
	opacity: 0.8;
}

.benevolats .modal-body .float-end {
	background: none !important;
}

.benevolats .modal-body .float-end i {
	color: var(--primary-color);
	font-size: 2rem !important;
	font-weight: bold;
}




.testimonials .testimonial-wrap {
	padding-left: 10px;
}

.testimonials .testimonial-item {
	box-sizing: content-box;
	padding: 30px;
	margin: 30px 10px;
	box-shadow: 0px 0 15px rgba(0, 0, 0, 0.1);
	position: relative;
	background: #fff;
	border-radius: 10px;
}

.testimonials .testimonial-item .testimonial-img {
	width: 90px;
	border-radius: 50px;
	margin-right: 15px;
}

.testimonials .testimonial-item h3 {
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0 5px 0;
	color: #000;
}

.testimonials .testimonial-item h4 {
	font-size: 14px;
	color: #999;
	margin: 0;
}

.testimonials .testimonial-item .stars {
	margin: 10px 0;
}

.testimonials .testimonial-item .stars i {
	color: #ffc107;
	margin: 0 1px;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
	color: #009d8b;
	font-size: 26px;
	line-height: 0;
}

.testimonials .testimonial-item .quote-icon-left {
	display: inline-block;
	left: -5px;
	position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
	display: inline-block;
	right: -5px;
	position: relative;
	top: 10px;
	transform: scale(-1, -1);
}

.testimonials .testimonial-item p {
	font-style: italic;
	margin: 15px auto 15px auto;
}

.testimonials .swiper-pagination {
	margin-top: 20px;
	position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: rgba(0, 0, 0, 0.2);
	opacity: 1;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
	background-color: var(--color-primary);
}

@media (max-width: 767px) {
	.testimonials .testimonial-wrap {
		padding-left: 0;
	}

	.testimonials .testimonial-item {
		padding: 30px;
		margin: 15px;
	}

	.testimonials .testimonial-item .testimonial-img {
		position: static;
		left: auto;
	}
}